.section {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titlePhonebook {
  margin: 15px 0;
  color: rgba(255, 255, 255, 0.788);
  text-align: center;
  font-size: 25px;
}

.titleContacts {
  margin: 15px 0;
  color: rgba(255, 255, 255, 0.788);
  text-align: center;
  font-size: 25px;
}

.appear {
  transform: scale(0) rotate(360deg);
  opacity: 0;
}

.appearActive {
  transform: scale(1) rotate(0deg);
  opacity: 1;
  transition: all 500ms linear;
}
