.container {
  display: flex;
  align-items: center;
}
// .avatar {
//   margin-right: 10px;
// }
.name {
  margin-right: 12px;
  margin-left: 12px;
}

.exitButton {
  background: none;
  border: none;
  cursor: pointer;
}

.exitButtonIcon {
  width: 20px;
  height: 20px;
  color: rgb(65, 18, 0);
}

.avatarButtonIcon {
  width: 20px;
  height: 20px;
}
